{% extends "layouts/auth_base.html" %}

{% block title %}
<title>Create Password</title>
{% endblock %}

{% block content %}

<div class="login-page">

    <div class="login-container">

        <div class="login-left">

            <h1>
                Secure Your Account
            </h1>

            <p>
                Create a secure password
                for your JanVote account.
            </p>

        </div>

        <div class="login-right">

            <div class="login-card">

                <h2 class="mb-4">
                    Create Password
                </h2>

                <form method="POST">

                    <div class="mb-3">

                        <label class="form-label">
                            Password
                        </label>

                        <input
                            type="password"
                            name="password"
                            class="form-control custom-input"
                            required
                        >

                    </div>

                    <div class="mb-4">

                        <label class="form-label">
                            Confirm Password
                        </label>

                        <input
                            type="password"
                            name="confirm_password"
                            class="form-control custom-input"
                            required
                        >

                    </div>

                    <button
                        type="submit"
                        class="btn login-btn w-100"
                    >
                        Create Account
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}