{% extends "layouts/auth_base.html" %}

{% block title %}
<title>Login | JanVote Portal</title>
{% endblock %}

{% block content %}

<div class="login-page">

    <div class="login-container">

        <!-- LEFT SIDE -->

        <div class="login-left">

            <img
                src="{{ url_for(
                    'static',
                    filename='images/logo.png'
                ) }}"
                class="login-logo"
                alt="logo"
            
            >

            <h1>
                Welcome Back
            </h1>

            <p>
                Secure Digital Voting Platform
                with workflow-based election
                management and protected
                authentication system.
            </p>

        </div>

        <!-- RIGHT SIDE -->

        <div class="login-right">

            <div class="login-card">

                <h2 class="mb-4">
                    Voter Login
                </h2>

                <form method="POST">

                    <div class="mb-3">

                        <label class="form-label">
                            Email Address
                        </label>

                        <input
                            type="email"
                            name="email"
                            class="form-control custom-input"
                            placeholder="Enter your email"
                            required
                        >

                    </div>

                    <div class="mb-4">

                        <label class="form-label">
                            Password
                        </label>

                        <input
                            type="password"
                            name="password"
                            class="form-control custom-input"
                            placeholder="Enter your password"
                            required
                        >

                    </div>

                    <button
                        type="submit"
                        class="btn login-btn w-100"
                    >
                        Login Securely
                    </button>

                </form>

                <div class="text-center mt-4">

                    <p>

                        Don't have an account?

                        <a
                            href="{{ url_for(
                                'auth.register'
                            ) }}"
                            class="register-link"
                        >
                            Register
                        </a>

                    </p>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}