# Python
__pycache__/
*.py[cod]
*$py.class

# Flask
instance/
.webassets-cache

# Virtual Environment
venv/
env/

# VS Code
.vscode/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# Flask Migrations Cache
migrations/__pycache__/

# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Logs
*.log