<!DOCTYPE html>
<html>

<head>
    <title>Candidate Management</title>
</head>

<body>

<h1>Candidate List</h1>

<a href="{{ url_for('admin.add_candidate') }}">
    Add Candidate
</a>

<hr>

<table border="1" cellpadding="10">

<tr>

    <th>ID</th>

    <th>Symbol</th>

    <th>Name</th>

    <th>Party</th>

    <th>Constituency</th>

    <th>Votes</th>

</tr>

{% for candidate in candidates %}

<tr>

    <td>{{ candidate.id }}</td>

    <td>

        <img
            src="{{ url_for(
                'static',
                filename='uploads/' + candidate.symbol_image
            ) }}"
            width="80"
        >

    </td>

    <td>{{ candidate.full_name }}</td>

    <td>{{ candidate.party_name }}</td>

    <td>{{ candidate.constituency }}</td>

    <td>{{ candidate.vote_count }}</td>

</tr>

{% endfor %}

</table>

</body>

</html>