<!DOCTYPE html>
<html>

<head>
    <title>Create Election</title>
</head>

<body>

<h1>Create Election</h1>

<form method="POST">

    <input
        type="text"
        name="title"
        placeholder="Election Title"
        required
    >

    <br><br>

    <textarea
        name="description"
        placeholder="Description"
    ></textarea>

    <br><br>

    <input
        type="text"
        name="election_type"
        placeholder="Election Type"
        required
    >

    <br><br>

    <input
        type="text"
        name="constituency"
        placeholder="Constituency"
        required
    >

    <br><br>

    <label>Start Date & Time</label>

    <input
        type="datetime-local"
        name="start_datetime"
        required
    >

    <br><br>

    <label>End Date & Time</label>

    <input
        type="datetime-local"
        name="end_datetime"
        required
    >

    <br><br>

    <button type="submit">
        Create Election
    </button>

</form>

</body>

</html>