{% extends "layouts/admin_base.html" %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block admin_content %}

<h1 class="mb-4">
    Election Dashboard
</h1>

<div class="row">

    <div class="col-md-4">

        <div class="card shadow-sm border-0 mb-4">

            <div class="card-body">

                <h5>Total Elections</h5>

                <h2>
                    {{ elections|length }}
                </h2>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow-sm border-0 mb-4">

            <div class="card-body">

                <h5>System Status</h5>

                <h2 class="text-success">
                    Active
                </h2>

            </div>

        </div>

    </div>

</div>

<div class="card shadow-sm border-0">

    <div class="card-body">

        <div class="d-flex justify-content-between mb-3">

            <h4>Election List</h4>

            <a
                href="{{ url_for('admin.create_election') }}"
                class="btn btn-primary"
            >
                Create Election
            </a>

        </div>

        <table class="table table-hover">

            <thead class="table-dark">

                <tr>

                    <th>ID</th>

                    <th>Title</th>

                    <th>Type</th>

                    <th>Constituency</th>

                    <th>Status</th>

                </tr>

            </thead>

            <tbody>

                {% for election in elections %}

                <tr>

                    <td>{{ election.id }}</td>

                    <td>{{ election.title }}</td>

                    <td>{{ election.election_type }}</td>

                    <td>{{ election.constituency }}</td>

                    <td>

                        <span class="badge bg-success">

                            {{ election.status }}

                        </span>

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}