{% extends "layouts/admin_base.html" %}

{% block admin_content %}

<h1 class="mb-4">
    {{ department.name }} Dashboard
</h1>

<div class="row">

    <div class="col-md-3 mb-4">

        <div class="dashboard-card">

            <h5>
                Officers
            </h5>

            <h2>
                {{ total_officers }}
            </h2>

        </div>

    </div>

    <div class="col-md-3 mb-4">

        <div class="dashboard-card">

            <h5>
                Applications
            </h5>

            <h2>
                {{ total_applications }}
            </h2>

        </div>

    </div>

    <div class="col-md-3 mb-4">

        <div class="dashboard-card">

            <h5>
                Pending
            </h5>

            <h2>
                {{ pending_applications }}
            </h2>

        </div>

    </div>

    <div class="col-md-3 mb-4">

        <div class="dashboard-card">

            <h5>
                Assigned
            </h5>

            <h2>
                {{ assigned_applications }}
            </h2>

        </div>

    </div>

</div>

{% endblock %}